{% extends "AppBundle:Admin:layout.html.twig" %}

{% block title %}Ajouter un séjour{% endblock %}
{% block body %}
	{% if ok is defined %}
		<div class="alert alert-success">Séjour bien ajouté</div>
	{% endif %}
	{% if ko is defined %}
		<div class="alert alert-danger">{{ko}}</div>
	{% endif %}
	<div class="form-style-8">
  		<h2>Créer un séjour</h2>
		{{ form_start(form) }}
		{{form_label(form.name, "Nom du séjour")}}
		{{form_widget(form.name)}}
		{{form_label(form.dateStart, "Date de départ")}}
		{{form_widget(form.dateStart)}}
		{{form_label(form.dateEnd, "Date de fin")}}
		{{form_widget(form.dateEnd)}}
		{{form_label(form.location, "Lieux du séjour")}}
		{{form_widget(form.location)}}
		{{form_label(form.numberPlace, "Nombre de place")}}
		{{form_widget(form.numberPlace)}}
		{{form_label(form.placeStart, "Lieux de départ")}}
		{{form_widget(form.placeStart)}}
		{{form_label(form.placeEnd, "Lieux d'arrivé")}}
		{{form_widget(form.placeEnd)}}
		{{form_label(form.urlPicture, "Lien de la photo du séjour")}}
		{{form_widget(form.urlPicture)}}
		{{form_label(form.description, "Description du séjour")}}
		{{form_widget(form.description)}}
		{{ form_end(form) }}
	</div>
{% endblock %}