{% extends "AppBundle:Admin:layout.html.twig" %}

{% block title %}Récupérer les photos{% endblock %}
{% block body %}
	{{ form_start(form) }}
	{{form_label(form.choiceTrip, "Choississez le séjour")}}
	{{form_widget(form.choiceTrip)}}
	{{ form_end(form) }}
	{% if pictures is defined %}
		{% for picture in pictures %}
			<div id="menu" class="col-md-3">
				<img class="galeryPicture" src="{{ picture.pictureName }}" width="100%" height="25%">
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}